.layout {
  display: flex;
  min-height: 100vh;
  background-color: var(--dark);
  transition: background-color .4s;
}

:root[data-theme="light"] .layout {
  background-color: #F1FFE7;
}

.mainWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 6rem;
}

@media (min-width: 1024px) {
  .content {
    padding-bottom: 1.5rem;
  }
}
